body{
    background-color: #d0a173;
    font-family: 'Montserrat', sans-serif;
}

/* encabezado */
header{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-inicio.jpg);
}

header h1{
    font-family: 'Playfair Display SC', serif;
}

ul li a.text-white:hover{
    color: #b9bdbd !important;
}

ul li a.text-orange:hover{
    color: #ffc340 !important;
}

header .btn{
    background-color: #ff9800;
}

header .btn:hover{
    background-color: #ffc340;
}



.btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

/* backgorunds */
.bg-gray{
    background-image: url(../img/bg-container.jpg);
}

.bg-yellow{
    background-color: #ffc340;
}

.bg-nav{
    background-color: rgba(0,0,0,0.5);
}

.bg-img-dark{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/bg-vela.jpg);
    background-size: cover;
    height: 200px;
    color: #c3c7c7;
}

.contact{
    background-color: #c3c7c7;
    padding: 60px;
}

/* boton flotante */
.btn-flotante img{
    width: 50px;
}

.btn-flotante:hover {
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}

.parrafo{
    text-align: center;
}

.decoro{
    font-family: 'Roboto Serif', sans-serif;
}

footer a{
    color: #d0a173;
}

footer{
    height: 8em;
}

/* general */
.text-yellow{
    color: #ebf3d7;
}

.text-orange{
    color: #ff9800 !important;
}

