body{
    background-color: #d0a173;
    font-family: 'Montserrat', sans-serif;
}
/* encabezado */
header{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-inicio.jpg);
}

header h1{
    font-family: 'Playfair Display SC', serif;
}
header h1, a{
    color: #fff !important;
}

nav ul li a:hover{
    color: #949999 !important;
}
.text-yellow{
    color: #ebf3d7;
}

header .btn{
    background-color: #ff9800;
}

header .btn:hover{
    background-color: #ffc340;
}



.btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

.bg-yellow{
    background-color: #ffc340;
}
.bg-gray{
    background-image: url(../img/bg-container.jpg);
}

.bg-img-dark{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/bg-vela.jpg);
    background-size: cover;
    height: 200px;
    color: #c3c7c7;
}

.contact{
    background-color: #c3c7c7;
    padding: 60px;
}

.btn-flotante img{
    width: 50px;
}

.btn-flotante:hover {
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}

footer a{
    color: #d0a173;
}

footer{
    height: 8em;
}

.parrafo{
    text-align: center;
}