body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

/* encabezado */
header{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-inicio.jpg);
}

.font-playfair{
    font-family: 'Playfair Display SC', serif;
}

ul li a.text-white:hover{
    color: #b9bdbd !important;
}

ul li a.text-orange:hover{
    color: #ffc340 !important;
}

header .btn{
    background-color: #009929;
}

header .btn:hover{
    background-color: #5ccb5f;
}

.navbr{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #353636;
}

.btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

/* backgorunds */
.bg-gray{
    background-image: url(../img/bg-container.jpg);
}

.bg-yellow{
    background-color: #c7f6d4;
}

.bg-nav{
    background-color: rgba(0,0,0,0.7);
}

.bg-footer{
    background-color: #000;
}

.bg-lang{
    background-color: #000;
}

.bg-lang:hover{
    background-color: #90c52d !important;
    color: #fff;
}

.bg-green-dark{
    background-color: #008f6c;
}

.service{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-image: url(../img/servicios/pareja.jpg);
    display: flex;
    align-items: center;
}
.service2{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-image: url(../img/servicios/limpieza.jpg);
    display: flex;
    align-items: center;
}
.service3{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-image: url(../img/servicios/brujeria.jpg);
    display: flex;
    align-items: center;
}

.service-title{
    background-color:rgba(12, 12, 11, 0.5);
    width: 100%;
    padding: 1em;
}

.service-text{
    padding:0 20px;
    color: #000;
}

.bg-contact{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-contact.jpg);
    width: 100%;
    height: 25em;
}

/* boton flotante */
.btn-flotante img{
    width: 50px;
}

.btn-flotante:hover {
    transform: translateY(-7px);
    text-shadow: #157070;
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        bottom: 20px;
        right: 20px;
    }
}

.parrafo{
    text-align: center;
}

.decoro{
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 40px;
}

.message{
    background-image: url(../img/bg-relleno.jpg);
    height: 20em;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #adaca8 !important;
}
/* general */
.text-yellow{
    color: #ebf3d7;
}

.text-green{
    color: #009929 !important;
}

.text-gray{
    color: #b8b9b9 !important;
}

.btn-up{
    background-color: #353636;
    color: #fff;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    padding: 1em !important;
}

.logo-dev{
    padding: 1px;
    width: 20px;
}

.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}